@charset "utf-8";
/*전체사이트 핵심공통*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/*사이트 전체설정*/
body {
    font-family: 'Montserrat', 'Noto+Sans+KR', 'sans-serif';
}

/*IR(Image Replacement)-이미지설명요소 등 안보이게 처리*/
.bld {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*레이아웃 공통 class*/
.inbox {
    width: 1200px;
    max-width: 100%;
    /*1200px보다 작아질때 화면에 맞춤!*/
    margin: 0 auto;
    /* outline: 2px dashed blue; */
}


/*float해제*/
.clb::after{
    content: "";
    display: block;
    clear: both;
}






